<footer [hidden]="option != 2" class="w-full h-screen rodape-image">
  <div class="bg-[#000]/80 h-full w-full xl:px-24 px-4 xl:py-36 py-4">
    <div class="w-full flex flex-col md:justify-between justify-end h-full md:items-start items-center md:text-start text-center">
      <!-- <div id="logo" class="md:invisible visible logo-white bg-cover w-[200px] h-24 md:mb-0 mb-24"></div> -->
      <div class="flex md:flex-row flex-col gap-16 justify-between w-full">
        <div>
          <span class="md:text-base text-xs">Desde 1996, a Soal é referência em esquadrias de<br />
            alumínio para o segmento residencial de alto padrão.<br />
            Rua Horandates Barba, 701 - Jd. Ana Cláudia<br />
            Votorantim - SP - CEP 18.112-540</span>
        </div>
        <div class="flex flex-col md:gap-4 gap-16 md:text-2xl">
          <span>ENTRE EM CONTATO</span>
          <span>11 99599 4243<br />
            soal@soal.com.br</span>
        </div>
      </div>
      <div class="mt-8"><span class="md:text-base text-xs">SOAL (C) 2025 TODOS OS DIREITOS RESERVADOS</span></div>
    </div>
  </div>
</footer>