<!-- MENU -->
<div id="menu" class="text-white w-full fixed top-0 md:px-12 px-4 z-10">
  <div class="w-full flex items-center justify-between">
    <a href="/" id="logo" class="logo-white bg-contain bg-no-repeat bg-center md:w-[200px] w-[130px] h-20"></a>
    <nav class="md:w-full w-auto">
      <div class="flex items-center justify-center">
        <li data-target="elemento2"
          class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer">
          <a href="/#soal" class="sm:text-xl text-sm font-light whitespace-nowrap px-8">A Soal</a>
        </li>
        <li data-target="elemento4" class="meuBotao lg:block hidden hover:text-[#032d59] pt-4 pb-2 relative cursor-pointer">
          <span class="sm:text-xl text-sm font-light px-8">Produtos</span>
          <div id="elemento4"
            class="hidden grid items-center justify-start text-start px-4 py-2 absolute top-[48px] left-0 w-full bg-[#CCCDC8]">
            <ol class="md:text-lg text-sm font-light">
              <li data-target="elemento7" class="meuBotao3 lg:block hidden pb-2 relative cursor-pointer">
                <span tabindex="0" class="sm:text-base text-sm font-medium focus:font-bold">Minimalistas</span>
                <div id="elemento7" class="hidden w-full flex flex-col items-center py-3">
                  <ol class="sm:text-base text-sm font-light flex flex-col gap-3">
                    <li><a href="/minimalistas/slice/" id="cadeiras1">Slice</a></li>
                    <li><a href="/minimalistas/dinaglass/" id="poltronas1">Dinaglass</a></li>
                    <li><a href="/minimalistas/perfetta/" id="sofas1">Perfetta Minimalista</a></li>
                    <li><a href="/minimalistas/chroma/" id="objetos">Chroma Minimalista</a></li>
                  </ol>
                </div>
              </li>
              <li data-target="elemento8" class="meuBotao3 lg:block hidden pb-2 relative cursor-pointer">
                <span tabindex="0" class="sm:text-base text-sm font-medium focus:font-bold">Convencionais</span>
                <div id="elemento8" class="hidden w-full flex flex-col pb-2">
                  <ol class="sm:text-base text-sm font-light flex flex-col gap-3">
                    <li><a href="/minimalistas/slice/" id="cadeiras1">Chroma</a></li>
                    <li><a href="/minimalistas/slice/" id="poltronas1">Soal PF 3.5</a></li>
                    <li><a href="/minimalistas/slice/" id="sofas1">Soal PFE</a></li>
                  </ol>
                </div>
              </li>
            </ol>
          </div>
        </li>
        <li data-target="elemento3"
          class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer">
          <a href="/projetos/" class="sm:text-xl text-sm font-light px-8">Projetos</a>
        </li>
        <li data-target="elemento3"
          class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer">
          <a href="/sustentabilidade/" class="sm:text-xl text-sm font-light px-8">Sustentabilidade</a>
        </li>
        <li data-target="elemento5"
          class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer">
          <a href="/orcamento/" class="sm:text-xl text-sm font-light px-8">Orçamento</a>
        </li>
        <li data-target="elemento1"
          class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer">
          <a href="/contato/" class="sm:text-xl text-sm font-light px-8">Contato</a>
        </li>
        <div class="lg:hidden flex justify-between items-center w-full">
          <li data-target="elemento6"
            class="w-[238px] lg:hidden flex justify-end meuBotao lg:pt-4 pt-3 lg:pb-2 pb-3 lg:pl-6 lg:pr-12 px-4 hover:text-[#032d59] relative cursor-pointer">
            <span class="sm:text-xl text-lg font-bold">MENU<span
                class="font-bold"> ☰</span></span>
            <div id="elemento6" class="hidden absolute lg:top-[48px] top-[48px] left-0 w-full bg-[#CCCDC8]">
              <ol class="text-lg pl-4 pt-4 pb-3 lg:hidden flex flex-col gap-4 w-full">
                <li><a href="/#soal/">A Soal</a></li>
                <li data-target="elemento9" class="meuBotao4 lg:hidden block relative cursor-pointer">
                  <span>Produtos</span>
                  <div id="elemento9"
                    class="hidden grid items-center justify-center text-center w-full">
                    <ol class="font-light text-start">
                      <li data-target="elemento10" class="meuBotao3 py-2 relative cursor-pointer">
                        <span tabindex="0" class="font-medium focus:font-bold">Minimalistas</span>
                        <div id="elemento10" class="hidden w-full flex flex-col items-start py-3 text-base">
                          <ol class="font-light flex flex-col gap-3">
                            <li><a href="/minimalistas/slice/" id="cadeiras1">Slice</a></li>
                            <li><a href="/minimalistas/dinaglass/" id="poltronas1">Dinaglass</a></li>
                            <li><a href="/minimalistas/perfetta/" id="sofas1">Perfetta Minimalista</a></li>
                            <li><a href="/minimalistas/chroma/" id="objetos">Chroma Minimalista</a></li>
                          </ol>
                        </div>
                      </li>
                      <li data-target="elemento11" class="meuBotao3 relative cursor-pointer">
                        <span tabindex="0" class="font-medium focus:font-bold">Convencionais</span>
                        <div id="elemento11" class="hidden w-full flex flex-col items-start py-3 text-base">
                          <ol class="font-light flex flex-col gap-3">
                            <li><a href="/minimalistas/slice/" id="cadeiras1">Chroma</a></li>
                            <li><a href="/minimalistas/slice/" id="poltronas1">Soal PF 3.5</a></li>
                            <li><a href="/minimalistas/slice/" id="sofas1">Soal PFE</a></li>
                          </ol>
                        </div>
                      </li>
                    </ol>
                  </div>
                </li>
                <li><a href="/projetos/">Projetos</a></li>
                <li><a href="/sustentabilidade/">Sustentabilidade</a></li>
                <li><a href="/orcamento/" data-target="lojas_mobile">Orçamento</a></li>
                <li><a href="/contato/">Contato</a></li>
              </ol>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <div class="items-center gap-3 md:flex hidden">
      <a target="_blank" href="https://www.instagram.com/soalesquadrias/">{%- include "svgInstagram.njk" -%}</a>
      <a target="_blank" href="https://www.linkedin.com/company/soal-sorocaba-alum-nio/">{%- include "svgLinkedin.njk" -%}</a>
    </div>
  </div>
</div>