<div hidden [hidden]="slide4 != 1" class="w-screen h-screen absolute bg-black meuSlide">
  <a href="#projeto3"
    class="cursor-pointer text-white text-2xl absolute z-[9999999] top-[20px] right-[25px] p-2 rounded bg-[#8F968D]/45 hover:bg-[#8F968D]"
    on="tap:AMP.setState({ slide4: 2, option: 2 })">
    <span>X</span>
  </a>
  <div class="flex justify-center items-center w-full h-screen">
    <amp-base-carousel width="1200" height="700" visible-count="(min-width: 800px) 1, 1"
      advance-count="(min-width: 800px) 1, 1">
      <amp-img layout="flex-item" src="/images/projetos/4/1.jpg"></amp-img>
      <amp-img layout="flex-item" src="/images/projetos/4/2.jpg"></amp-img>
    </amp-base-carousel>
  </div>
</div>