---
title: 'Sustentabilidade'
layout: layout.njk
---

<!-- MENU -->
<div id="menu" class="text-white w-full fixed top-0 md:px-12 px-4 z-10">
	<div class="w-full flex items-center justify-between">
		<a
			href="/"
			id="logo"
			class="logo-white bg-contain bg-no-repeat bg-center md:w-[200px] w-[130px] h-20"
		></a>
		<nav class="md:w-full w-auto">
			<div class="flex items-center justify-center">
				<li
					data-target="elemento2"
					class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer"
				>
					<a
						href="/#soal"
						class="sm:text-xl text-sm font-light whitespace-nowrap px-8"
						>A Soal</a
					>
				</li>
				<li
					data-target="elemento4"
					class="meuBotao lg:block hidden hover:text-[#032d59] pt-4 pb-2 relative cursor-pointer"
				>
					<span class="sm:text-xl text-sm font-light px-8">Produtos</span>
					<div
						id="elemento4"
						class="hidden grid items-center justify-start text-start px-4 py-2 absolute top-[48px] left-0 w-full bg-[#CCCDC8]"
					>
						<ol class="md:text-lg text-sm font-light">
							<li
								data-target="elemento7"
								class="meuBotao3 lg:block hidden pb-2 relative cursor-pointer"
							>
								<span
									tabindex="0"
									class="sm:text-base text-sm font-medium focus:font-bold"
									>Minimalistas</span
								>
								<div
									id="elemento7"
									class="hidden w-full flex flex-col items-center py-3"
								>
									<ol
										class="sm:text-base text-sm font-light flex flex-col gap-3"
									>
										<li>
											<a href="/minimalistas/slice/" id="cadeiras1">Slice</a>
										</li>
										<li>
											<a href="/minimalistas/dinaglass/" id="poltronas1"
												>Dinaglass</a
											>
										</li>
										<li>
											<a href="/minimalistas/perfetta/" id="sofas1"
												>Perfetta Minimalista</a
											>
										</li>
										<li>
											<a href="/minimalistas/chroma/" id="objetos"
												>Chroma Minimalista</a
											>
										</li>
									</ol>
								</div>
							</li>
							<li
								data-target="elemento8"
								class="meuBotao3 lg:block hidden pb-2 relative cursor-pointer"
							>
								<span
									tabindex="0"
									class="sm:text-base text-sm font-medium focus:font-bold"
									>Convencionais</span
								>
								<div id="elemento8" class="hidden w-full flex flex-col pb-2">
									<ol
										class="sm:text-base text-sm font-light flex flex-col gap-3"
									>
										<li>
											<a href="/minimalistas/slice/" id="cadeiras1">Chroma</a>
										</li>
										<li>
											<a href="/minimalistas/slice/" id="poltronas1"
												>Soal PF 3.5</a
											>
										</li>
										<li>
											<a href="/minimalistas/slice/" id="sofas1">Soal PFE</a>
										</li>
									</ol>
								</div>
							</li>
						</ol>
					</div>
				</li>
				<li
					data-target="elemento3"
					class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer"
				>
					<a href="/projetos/" class="sm:text-xl text-sm font-light px-8"
						>Projetos</a
					>
				</li>
				<li
					data-target="elemento3"
					class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer"
				>
					<a
						href="/sustentabilidade/"
						class="sm:text-xl text-sm font-light px-8"
						>Sustentabilidade</a
					>
				</li>
				<li
					data-target="elemento5"
					class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer"
				>
					<a href="/orcamento/" class="sm:text-xl text-sm font-light px-8"
						>Orçamento</a
					>
				</li>
				<li
					data-target="elemento1"
					class="meuBotao lg:block hidden pt-4 pb-2 hover:text-[#032d59] relative cursor-pointer"
				>
					<a href="/contato/" class="sm:text-xl text-sm font-light px-8"
						>Contato</a
					>
				</li>
				<div class="lg:hidden flex justify-between items-center w-full">
					<li
						data-target="elemento6"
						class="w-[238px] lg:hidden flex justify-end meuBotao lg:pt-4 pt-3 lg:pb-2 pb-3 lg:pl-6 lg:pr-12 px-4 hover:text-[#032d59] relative cursor-pointer"
					>
						<span class="sm:text-xl text-lg font-bold"
							>MENU<span class="font-bold"> ☰</span></span
						>
						<div
							id="elemento6"
							class="hidden absolute lg:top-[48px] top-[48px] left-0 w-full bg-[#CCCDC8]"
						>
							<ol
								class="text-lg pl-4 pt-4 pb-3 lg:hidden flex flex-col gap-4 w-full"
							>
								<li><a href="/#soal/">A Soal</a></li>
								<li
									data-target="elemento9"
									class="meuBotao4 lg:hidden block relative cursor-pointer"
								>
									<span>Produtos</span>
									<div
										id="elemento9"
										class="hidden grid items-center justify-center text-center w-full"
									>
										<ol class="font-light text-start">
											<li
												data-target="elemento10"
												class="meuBotao3 py-2 relative cursor-pointer"
											>
												<span tabindex="0" class="font-medium focus:font-bold"
													>Minimalistas</span
												>
												<div
													id="elemento10"
													class="hidden w-full flex flex-col items-start py-3 text-base"
												>
													<ol class="font-light flex flex-col gap-3">
														<li>
															<a href="/minimalistas/slice/" id="cadeiras1"
																>Slice</a
															>
														</li>
														<li>
															<a href="/minimalistas/dinaglass/" id="poltronas1"
																>Dinaglass</a
															>
														</li>
														<li>
															<a href="/minimalistas/perfetta/" id="sofas1"
																>Perfetta Minimalista</a
															>
														</li>
														<li>
															<a href="/minimalistas/chroma/" id="objetos"
																>Chroma Minimalista</a
															>
														</li>
													</ol>
												</div>
											</li>
											<li
												data-target="elemento11"
												class="meuBotao3 relative cursor-pointer"
											>
												<span tabindex="0" class="font-medium focus:font-bold"
													>Convencionais</span
												>
												<div
													id="elemento11"
													class="hidden w-full flex flex-col items-start py-3 text-base"
												>
													<ol class="font-light flex flex-col gap-3">
														<li>
															<a href="/minimalistas/slice/" id="cadeiras1"
																>Chroma</a
															>
														</li>
														<li>
															<a href="/minimalistas/slice/" id="poltronas1"
																>Soal PF 3.5</a
															>
														</li>
														<li>
															<a href="/minimalistas/slice/" id="sofas1"
																>Soal PFE</a
															>
														</li>
													</ol>
												</div>
											</li>
										</ol>
									</div>
								</li>
								<li><a href="/projetos/">Projetos</a></li>
								<li><a href="/sustentabilidade/">Sustentabilidade</a></li>
								<li>
									<a href="/orcamento/" data-target="lojas_mobile">Orçamento</a>
								</li>
								<li><a href="/contato/">Contato</a></li>
							</ol>
						</div>
					</li>
				</div>
			</div>
		</nav>
		<div class="items-center gap-3 md:flex hidden">
			<a target="_blank" href="https://www.instagram.com/soalesquadrias/"
				>{%- include "svgInstagram.njk" -%}</a
			>
			<a
				target="_blank"
				href="https://www.linkedin.com/company/soal-sorocaba-alum-nio/"
				>{%- include "svgLinkedin.njk" -%}</a
			>
		</div>
	</div>
</div>
<!-- HOME -->
<section
	class="w-full h-screen sustentabilidade-image xl:px-24 px-4 xl:py-16 py-10 flex"
>
	<div class="w-full flex flex-col justify-center h-full items-center relative">
		<span class="md:text-6xl text-2xl font-light">Sustentabilidade</span>
		<a
			href="#sustentabilidade"
			style="
				position: absolute;
				top: 94%;
				z-index: 2;
				border: 1px solid white;
				border-radius: 25px;
				padding: 6px;
				display: flex;
			"
			class="pulsar"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="white"
				width="24"
				height="24"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				version="1.1"
				id="Capa_1"
				x="0px"
				y="0px"
				viewBox="0 0 451.847 451.847"
				style="enable-background: new 0 0 451.847 451.847"
				xml:space="preserve"
			>
				<g>
					<path
						d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"
					></path>
				</g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
				<g></g>
			</svg>
		</a>
	</div>
</section>
<!-- Sustentabilidade -->
<section
	id="sustentabilidade"
	class="w-full lg:h-[780px] text-[#032d59] h-auto bg-white xl:px-0 px-4 xl:py-36 py-24 flex"
>
	<div class="w-full h-full items-center flex gap-16 z-0">
		<div
			class="bg-[url(/images/home2.png)] w-full h-full bg-cover bg-center md:block hidden"
		></div>

		<main class="flex flex-col gap-6 md:max-w-[50%] max-w-full">
			<div class="flex flex-col">
				<span class="font-bold">Durabilidade</span>
				<span
					>Suas ligas são resistentes à corrosão e intempéries, imunes aos
					efeitos nocivos dos raios solares ultravioleta. Ou seja, o material
					pode ser usado em regiões sujeitas à maresia e tem ótimo desempenho
					por longo período de tempo.</span
				>
			</div>
			<div class="flex flex-col">
				<span class="font-bold">Economia</span>
				<span
					>Quando usado na sua forma natural, anodizado ou pintado, exige
					manutenção simples e de baixo custo.</span
				>
			</div>
			<div class="flex flex-col">
				<span class="font-bold">Flexibilidade</span>
				<span
					>Oferece possibilidades ilimitadas para o desenvolvimento de
					diferentes designs de produtos e projetos. É possível integrar várias
					funções em um único perfil.</span
				>
			</div>
			<div class="flex flex-col">
				<span class="font-bold">Leveza e alta resistência</span>
				<span
					>Atende necessidades específicas e minimiza despesas na fundação da
					obra. Além disso, as dimensões reduzidas dos perfis das esquadrias
					maximizam os ganhos solares. A leveza contribui ainda com menores
					custos de aquisição, transporte e manuseio; reduz o risco de
					acidentes; e aumenta a rapidez da obra.</span
				>
			</div>
			<div class="flex flex-col">
				<span class="font-bold">Reciclabilidade</span>
				<span
					>O metal pode ser reciclado infinitas vezes e o melhor: sem perder
					características no processo de reaproveitamento, ao contrário de
					outros materiais. O trabalho pode ser feito a partir de sucatas
					geradas por produtos de vida útil esgotada — utensílios domésticos,
					latas de bebidas, esquadrias, componentes automotivos etc. — ou por
					sobras do processo produtivo. A produção de alumínio reciclado consome
					apenas 5% da energia que seria utilizada na produção da mesma
					quantidade de alumínio primário.</span
				>
			</div>
		</main>
	</div>
</section>
